body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.counter {
  text-align: center;
}

button {
  font-size: 20px;
  margin: 5px;
  padding: 10px 20px;
}